.cards_section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.objective {
  font-size: 3rem;
  color: snow;
  text-decoration: underline;
  margin-bottom: 1rem;
}
.objective:last-of-type {
  margin-bottom: 4rem;
}
@media screen and (max-width: 425px) {
  .cards {
    grid-template-columns: 1fr;
    place-self: center;
  }
  .objective {
    font-size: 2rem;
  }
}
