.registerPage {
  height: 92vh;
  background-image: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.6),
      rgba(30, 30, 30, 0.4)
    ),
    url('../assets/laptop.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
