.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  z-index: 10;
  background-color: snow;
  box-shadow: 0px 2px 9px -3px var(--grey);
}
.header ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  gap: 0.7rem;
}
.header ul li {
  margin: 0;
}
.header button {
  margin-left: 20px;
}
.navLink {
  margin: 0 5px;
  color: var(--grey);
  font-weight: 500;
}
.navLink:hover {
  color: var(--yellowGreen);
}
.activeNavLink {
  text-decoration: overline 2px var(--yellowGreen);
}
.logo {
  font-size: 1.5rem;
  color: var(--grey);
  font-weight: 900;
  position: relative;
}
@media screen and (max-width: 425px) {
  .logo {
    font-size: 1rem;
  }
  .navLink {
    font-size: 12px;
  }
}
