.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 260px;
  border-radius: 5px;
  background-color: snow;
  padding: 20px 30px;
}

.registerForm input {
  width: 200px;
}
.regContainer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 5rem;
}
