body {
  /* background-image: url('https://wallpaperaccess.com/full/2483946.jpg'); */
  background-image: url('https://wallpapers.com/images/high/shopping-mall-streets-7r89lrmot89kdbt3.webp');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: -4rem;
}
