.shopList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 0;
}
.noShops {
  color: snow;
  font-size: 1.5rem;
}
@media screen and (max-width: 425px) {
  .shopList {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
