.shop {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-radius: 5px;
  background-color: rgb(255, 250, 250, 0.7);
  transition: 0.3s all ease-in;
  top: 0;
}
.shop:hover {
  box-shadow: 0 5px 15px 2px #7971ea;
  top: -10px;
}
.shop__img {
  width: 100%;
  height: 140px;
}
.shop__name {
  margin: 1rem;
  font-size: 1.3rem;
  text-align: center;
  color: #333;
}
.shop__desc {
  margin: 1rem 1rem 2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.4rem;
  color: #333;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}

.shop__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: grey;
  font-size: 14px;
  padding: 0 1rem;
}
.shop__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
