.btn {
  border: none;
  padding: 10px 20px;
  color: #fff;
  background: var(--grey);
  border-radius: 30px;
  font-weight: 900;
  text-transform: uppercase;
  transition: 0.3s all ease;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--yellowGreen);
  color: var(--grey);
}
