.formDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.formDesc h3 {
  color: var(--yellowGreen);
  font-size: 2rem;
}
.formDescText {
  max-width: 400px;
  color: snow;
  font-weight: 600;
}
.alignRight {
  text-align: right;
}
.fullWidth {
  max-width: fit-content;
}
